.main{
position: fixed;
margin-left: 163px;
}
body{
background-color: #ebebeb;
}
.logo{
height: 70px;
color:white;;
}
.logo h1{
padding-top: 15px;
font-size: 23px;
font-family: 'Baloo Tammudu', cursive;
text-align: center;
}
.container_12{
background-color: #07b57a;
}
.navbar1{
display: block;
background-color: #0b714e;
height: 24px;
}
.navbar1 li{
display: inline;
width:20%;
text-align: center;
margin:0;
border:1px solid black;
}
.navbar a{
font-style: none;
color:white;
text-decoration: none;
}
.grid_2{
width:190px !important;
}
.div1{
background-color: grey;
}
.div2{
background-color: yellow;
}
.div3{
background-color: pink;
}
.grid_4{
height: 350px;
margin-left: 0;
margin-right: 0;
width:320px !important;
}
.hero{
width:100%;
height:50px;
background-color: orange;
}
.grid_6{
height:303px;
padding:0;
width:480px !important;
margin:0;
}
.div4{
background-color: magenta;
}
.div5{
background-color: red;
}
.row{
height:100px;
border:1px solid black;
border-bottom: 0;
}
footer li{
display: inline;
}
.list-inline>li {
display: inline-block;
padding-left: 40px;
padding-right: 5px
}
.list-inline {
padding-left: 0;
list-style: none;
margin-left: -5px;
}
.adjust{
height: 242px;
text-align: center;
}
.row h2{
text-transform: uppercase;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 700;
text-align: center;
}
#hidden-text_1{
margin-top:-128px;
display: none;
text-align: center;
}
.section1:hover #hidden-text_1{
display: block;
}
#hidden-text_2{
margin-top:-128px;
display: none;
text-align: center;
}
.section2:hover #hidden-text_2{
display: block;
}
#hidden-text_3{
margin-top:-128px;
display: none;
text-align: center;
}
.section3:hover #hidden-text_3{
display: block;
}
#hidden-text_4{
margin-top:-128px;
display: none;
text-align: center;
color: white;
}
.section4:hover #hidden-text_4{
display: block;
}